
@textColor: #ffffff;
@darkMediumColor: #595959;
@darkColor: #3D3D3D;

@scrollColor: #303030;

@toolbarColor: @darkMediumColor;
@menuColor: @darkColor;
@menuColorSelected: #3B75CC;
@menuColorHover: #ED1E6E;
@bodyColor: #EEEEEE;

@validColor: rgba(200,0,0,0.9);

@cardHeaderColor: #3B75CC;
@cardHeaderTextColor: #ffffff;

@tableHeadColor: @darkMediumColor;
@tableHeadTextColor: #ffffff;

@buttonDefaultColor: #14A4A4;
@buttonDangerColor: #ED1E6E;