<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12" ng-repeat="product in ptrCtrl.products">
      <h3>{{product.ProductName}} : {{product.ProductId}}</h3>
      <span>{{product.Description}}</span><br />
      <span>{{product.Price}}</span><br />
      <span>{{product.ProductCode}}</span><br />
    </div>
    <hr>
  </div>
  

</div>