<div class="mainBody" layout="row" flex>

  <md-sidenav md-component-id="left" 
      md-is-locked-open="$mdMedia('gt-sm')" 
      layout="column" 
      class="md-whiteframe-z2 mdSidenav"
      ng-click="mainBodyCtrl.toggleMenu()">

    <div class="text-center mdHeader" ng-click="mainBodyCtrl.menuHeaderClick()">
      <span>GeoSpy</span>
      <h3><small>Śledzenie lokalizacji telefonu</small></h3>
    </div>
    <md-divider></md-divider>
    <md-content class="mdContentMenu">
      <md-list flex>

        <md-list-item ng-repeat="item in mainBodyCtrl.menuItems" 
                      ui-sref="{{item.uisref}}" 
                      ng-click="mainBodyCtrl.menuItemClick($index)"
                      ng-class="item.isSelected ? 'mdListItemSelected' : ''">
          <i class="{{item.iconClass}}" aria-hidden="true"></i>
          <p>{{item.header}}</p>
        </md-list-item>

      </md-list>
    </md-content>
    <md-divider></md-divider>
    <h4><small>Dariusz Król</small></h4>
  </md-sidenav>

  <div layout="column" flex>

    <md-toolbar layout="row">
      <div class="menuIconDiv">
        <i class="fa fa-bars fa-2x" aria-hidden="true" hide-gt-sm ng-click="mainBodyCtrl.toggleMenu()"></i>
      </div>
      <div layout="column" flex>
        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> {{$root.title}}</span>
      </div>
      <div class="contactIconDiv"> 
        <i ui-sref="#" class="fa fa-phone-square fa-2x" aria-hidden="true"></i>
      </div>
    </md-toolbar>

    <md-content id="content" flex>
      <div ui-view="bodyView"></div>
    </md-content>
  </div>

</div>
