<div class="container-fluid semHome">

  <md-card>
    <md-card-header>
      Strona startowa
    </md-card-header>
  </md-card>

  <div class="row semHomeRow">
    <div class="col-sm-3">
      <a href="http://www.w3schools.com/html/html5_intro.asp">
        <md-card>
          <md-card-content>
            <img class="img-responsive" src="assets/images/html5.png">
          </md-card-content>
        </md-card>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="http://www.w3schools.com/css/css3_intro.asp">
        <md-card>
          <md-card-content>
            <img class="img-responsive" src="assets/images/css3.png">
          </md-card-content>
        </md-card>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="http://getbootstrap.com/">
        <md-card>
          <md-card-content>
            <img class="img-responsive" src="assets/images/bootstrap.png">
          </md-card-content>
        </md-card>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="http://lesscss.org/">
        <md-card>
          <md-card-content>
            <img class="img-responsive" src="assets/images/less.png">
          </md-card-content>
        </md-card>
      </a>
    </div>
  </div>

  <div class="row semHomeRow">
    <div class="col-sm-3">
      <a href="https://angularjs.org/">
        <md-card>
          <md-card-content>
            <img class="img-responsive" src="assets/images/angular.png">
          </md-card-content>
        </md-card>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://nodejs.org/en/">
        <md-card>
          <md-card-content>
            <img class="img-responsive" src="assets/images/nodejs.png">
          </md-card-content>
        </md-card>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="http://gulpjs.com/">
        <md-card>
          <md-card-content>
            <img class="img-responsive" src="assets/images/gulp.png">
          </md-card-content>
        </md-card>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://code.visualstudio.com/">
        <md-card>
          <md-card-content>
            <img class="img-responsive" src="assets/images/vscode.png">
          </md-card-content>
        </md-card>
      </a>
    </div>
  </div>

</div>